<head>
<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
  <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
  <script src="https://npmcdn.com/react-router@2.4.0/umd/ReactRouter.min.js"></script>
  <style>
  a{
  padding:20px;
  font-size:25px;
  text-decoration:none;
  }
		body 		{ padding-top:80px;
background-image:url('http://hdwallpaperbackgrounds.net/wp-content/uploads/2016/09/Cool-Pictures-Nature-5.jpg');
background-size:cover;		}
a{text-decoration:none;}
#one:hover{
color:white;
}
#two:hover{
color:white;
}
#three:hover{
color:white;
}
#four:hover{
color:white;
}
#five:hover{
color:white;
}
  </style>
<div id ="lol"></div>
<div id ="content"></div>

 <script type="text/babel">
class App extends React.Component {
render(){
return(
<div className = "text-center">
<img src = "http://freevector.co/wp-content/uploads/2011/05/74577-user-group.png" width="90"height="90"/>
<h1>Login</h1>
</div>
);
}
}
ReactDOM.render(
<App/>,
document.getElementById('lol'));
class Content extends React.Component {
render(){
return(
<div className = "text-center">
<a id="one"href="/#">Home</a>
<a id="two"href="/about">About</a>
<a id="three"href="/docs">Docs</a>
<a id="four"href="/login">Login/SignUp</a>
<a id="five"href="/profile">Profile</a>
</div>
);
}
}
ReactDOM.render(
<Content/>,
document.getElementById('content'));
 </script>
  <head>
	<title>Login</title>
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
	<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
</head>
<body>
         <div class="col-sm-6 col-sm-offset-3">
            <h1><span class="fa fa-sign-in"></span> Login</h1>

            <!-- show any messages that come back with authentication -->
            <% if (message.length > 0) { %>
                <div class="alert alert-danger"><%= message %></div>
            <% } %>

            <!-- LOGIN FORM -->
            <form action="/login" method="post">
                <div class="form-group">
                    <label>Username</label>
                    <input type="text" class="form-control" name="username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input type="password" class="form-control" name="password">
                </div>
                <div class="form-group">
                    <label>Remember Me</label>
                    <input type="checkbox" class="form-control" name="remember" value="yes">
                </div>

                <button type="submit" class="btn btn-warning btn-lg">Login</button>
            </form>

            <hr>

            <p>Need an account? <a href="/signup">Signup</a></p>
            <p>Or go <a href="/">home</a>.</p>
        </div>
    </div>
</body>
</html>